<div class="eventTile">
    <img class="tileBanner" src="/ressources/images/eventBanners/bannerTest.jpg"/>
    <div class="tileContent">
        <h2>Event Title</h2>
        <p class="eventTime">2024/07/30 18:00</p>
        <p class="eventDescription">Event description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id egestas massa, quis posuere elit. Curabitur vulputate consectetur nisl, eget elementum sem ullamcorper sed.</p>
        <div class="tileControls">
        <a href="/events/view/1">View</a>
        <a href="#">ORBAT</a>
        <a href="#">Manage</a>
        </div>
    </div>
    <div class="userAttendance">
        <div>
            <img src="/ressources/svg/person.svg"/>
            <p>27</p>
        </div>
        <div>
            <img src="/ressources/svg/personX.svg"/>
            <p>8</p>
        </div>
        <div>
            <img src="/ressources/svg/questionMark.svg"/>
            <p>13</p>
        </div>
    </div>
</div>