<div class="winMediaPlayer9Base">
    <img src="{{asset("/ressources/pictures/mediaPlayer/base.png")}}" draggable="false" (dragstart)="false;"/>
    <marquee class="MPSongTitle">This is the song title that is relatively looong</marquee>
    <img src="{{asset("/ressources/pictures/mediaPlayer/shutter-trans.gif")}}" class="MPShutter"/>
    <button class="MPPlayBtn">
        <img src="{{asset("/ressources/pictures/mediaPlayer/playbuttonhover2.gif")}}" class="MPPlay hover"/>
        <img src="{{asset("/ressources/pictures/mediaPlayer/playbutton2.gif")}}" class="MPPlay base"/>
    </button>
</div>