<nav>
    <img class="logo" src="/ressources/images/logo.png"/>
    <div>
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <a href="#" class="disabled">Training</a>
        <a href="#" class="disabled">Who are we ?</a>
        <a href="#" class="disabled">Join us !</a>
        <a href="/tools">Tools</a>
        <a href="#" class="disabled">Account</a>
    </div>
</nav>

{% block stylesheets %}
{% endblock %}


{% block javascripts %}
{% endblock %}