<header class="navHeader">
    <div>
        {% include "/template/mediaPlayer.html.twig" %}
    </div>
    <h1 class="title"><i>KAYLA FOX</i></h1>
    <img src="{{asset("/ressources/pictures/fywolf_wo8bg.png")}}"/>
</header>
<nav>
    <a href="#">Shop</a>
    <a href="#">Portfolio</a>
    <a href="#">Animations</a>
    <a href="#">About me</a>
    <a href="#">Comissions</a>
</nav>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mediaPlayer.css') }}">
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/mediaPlayer.js') }}" defer></script>
    <script src="{{ asset('js/jsmediatags.min.js') }}"></script>
{% endblock %}