<header class="navHeader">
    <div class="navMediaPlayer">
        {% include "/template/mediaPlayer.html.twig" %}
    </div>
    <img class="kaylaArt" src="{{asset("/ressources/pictures/navBanner.png")}}"/>
</header>
<nav>
    <a href="#">Shop</a>
    <a href="#">Portfolio</a>
    <a href="#">Animations</a>
    <a href="#">About me</a>
    <a href="#">Comissions</a>
</nav>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mediaPlayer.css') }}">
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/mediaPlayer.js') }}" defer></script>
    <script src="{{ asset('js/jsmediatags.min.js') }}"></script>
{% endblock %}