body {
    background-color: #008080;
    margin: 0;
    height: 100%;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
	font-size: 2em;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: rebeccapurple;
	width: 100%;
	height: 48px;
	padding: 4px;
	box-shadow: 0 2px 2px 1px black;
}

header {
	background-color: rebeccapurple;
	width: 100%;
	height: 20%;
	/* opacity: 0.5; */
	padding: 4px;
	color: white;
	font-size: 2em;
}

p {
	cursor: default;
	margin-top: 0;
}

[id^="button"] {
	margin-left: 20px;
	color: white;
	cursor: pointer;
	font-size: 30px;
	position: relative;
	bottom: 2px;
}


/* win 98 window theme*/

.windowActive > .win98Bar {
    background: linear-gradient(to right, #010081, #00ace8);
}

.win98Bar {
    background-color: #c3c3c3;
}

[id^="closeButton"] {
	color: white;
	cursor: pointer;
	position: relative;
	bottom: 9px;
	font-size: 24px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
}


.testBody {
	display: flex;
	margin: 1%;
	gap: 1vh;
	align-items: flex-start;
	flex-wrap: wrap;
}

.testBox {
	width: 20vw;
	background-color: #010081;
}

.box1 {
	overflow-x: scroll;
	text-wrap: nowrap;
	height: auto;
}

.box2 {
	overflow-y: scroll;
	height: 20vh;
}