{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}
{% block body %}


<div class="home">
Basic Example
<div class="windowGroup">

	<!-- WINDOW 1 -->

	<div id="window1" class="window" style="display: initial;">
		<div class="purple">
			<p class="windowTitle">Test window</p>
		</div>
		<div class="mainWindow">
			<p>that is a test to try out some interractive windows</p>
		</div>
	</div>

	<!-- WINDOW 2 -->

	<div id="window2" class="window fade">
		<div class="cyan">
			<p class="windowTitle">Second Window</p>
		</div>
		<div class="mainWindow">
			<p>Cyan</p>
			<p>With fade effect !</p>
		</div>
	</div>

	<!-- WINDOW 3 -->

	<div id="window3" class="window fade small">
		<div class="brown">
			<p class="windowTitle">Third Window</p>
		</div>
		<div class="mainWindow">
			<p>Brown</p>
			<p>With fade effect !</p>
		</div>
	</div>
	
</div>

<button id="button1">1</button>
<button id="button2">2</button>
<button id="button3">3</button>
</div>
{% endblock %}
