{% extends 'base.html.twig' %}

{% block title %}Profiteers home{% endblock %}

{% block body %}
    <p>Here's the landing page (nothing is here YET) but you can check the "event" tab</p>
{% endblock %}
