{% extends 'base.html.twig' %}

{% block title %}Profiteers home{% endblock %}

{% block body %}
    <p>Here's the landing page (nothing is here YET) but you can check the "event" tab that shows how (for now) the events will be displayed but most importantly, you can checkout the TOOLS page ! the modpack checker up up in there ! :D</p>
{% endblock %}
