{% extends 'base.html.twig' %}

{% block title %}KaylaFox Store{% endblock %}

{% block body %}
<div class="testBody">
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
    <div class="testBox box1">
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
        <p>content that is reaaaaaaalllllyyyyy large and cannot really fit the whole box because it's wayyyyy toooo smallllll</p>
    </div>
    <div class="testBox box2">
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
        <p>small but lots of content that doesn't really fit the height of the box</p>
    </div>
</div>
<footer>
<p>and this is totally a windows XP statusbar (thrust me pls.. again)</p>
</footer>
{% endblock %}
