{% extends 'base.html.twig' %}

{% block title %}Profiteers tools{% endblock %}

{% block body %}
    <div class="toolPage">
        <div class="eventTile">
            <img class="tileBanner" src="/ressources/images/eventBanners/bannerTest.jpg"/>
            <div class="tileContent">
                <h2>Modpack Checker</h2>
                <p class="eventDescription">The modpack checker is a tool made for versioning of Arma 3 modpacks, mage to help narrow down the changes in addition and deletion of mods.</p>
                <div class="tileControls">
                <a href="/tools/modpackChecker">Open</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
