{% extends 'base.html.twig' %}

{% block title %}Profiteers tools{% endblock %}

{% block body %}
    <div class="eventPage toolPage">
        <div class="eventTile">
            <img class="tileBanner" src="/ressources/images/toolsBanners/mpcBanner.png"/>
            <div class="tileContent toolTile">
                <h2>Modpack Checker</h2>
                <p class="eventDescription">The modpack checker is a tool made for versioning of Arma 3 modpacks, mage to help narrow down the changes in addition and deletion of mods.</p>
                <div class="tileControls">
                <a href="/tools/modpackChecker">Open</a>
                </div>
            </div>
        </div>
        <div class="eventTile">
            <img class="tileBanner" src="/ressources/images/toolsBanners/ocapBanner.png"/>
            <div class="tileContent toolTile">
                <h2>OCAP 2</h2>
                <p class="eventDescription">The OCAP Server is what allow us to have a replay of all operations happening in the Profiteers servers !</p>
                <div class="tileControls">
                <a href="https://ocap.fywolf.org/">Open</a>
                </div>
            </div>
        </div>
        <div class="eventTile">
            <img class="tileBanner" src="/ressources/images/toolsBanners/cloudBanner.png"/>
            <div class="tileContent toolTile">
                <h2>Cloud</h2>
                <p class="eventDescription">Profiteers is proud to host theirs own cloud service ! use it to store any content related to the operations happening in our servers ! We might them for future videos.</p>
                <div class="tileControls">
                <a href="https://cloud.fywolf.org/">Open</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
