{% extends 'base.html.twig' %}

{% block title %}Profiteers Events{% endblock %}

{% block body %}
<div class="eventPage">
        {% include "/template/eventTiles.html.twig" %}
        {% include "/template/eventTiles.html.twig" %}
</div>
{% endblock %}
